@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body
{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  height: 100vh;
}
.box-login
{
  position: relative;
  left: 50%;
  transform: translate(-50%, 30%);
  width: 180px;
  background-color: rgba(166,166,166,0.5);
  padding: 50px;
  border-radius: 40px;
  width: 260px;
}
.campoInput
{
  box-shadow: rgba(0,0,0,0.25);
  padding: 15px;
  border: none;
  outline: none;
  font-size: 10pt;
  border-radius: 06px;
  width: 84%;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  font-family: 'Open Sans', sans-serif;
}
.botao
{
  margin-left: 0px;
  margin-right: 0px;
  background-color: #78bf3a;
  padding: 15px;
  border-radius: 06px;
  width: 47%;
  color: white;
  font-size: 10pt;
  border: none;
  font-weight: bold;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
img#LOGO
{
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 180px;
}
.botao:hover
{
  cursor: pointer;
}
h1
{
  font-family: 'Open Sans', sans-serif;
}
form
{
  font-family: 'Open Sans', sans-serif;
}
.mensagemLogin
{
  font-family: 'Open Sans', sans-serif;
  color: red;
  font-size: 9.5pt;
  font-weight: bold;
}
/*RESPONSIVIDADE PARA MOBILE*/
@media (min-width: 359px) and (max-width: 415px)
{
  .box-login
  {
    width: 60%;
  }
  .campoInput
  {
    font-size: 07pt;
  }
  .botao
  {
    font-size: 07pt;
  }
  .mensagemLogin
  {
    font-size: 8pt;
  }
}